*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/img/desing/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: calc(20vh - constant(safe-area-inset-top));
    height: calc(20vh - env(safe-area-inset-top));
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
    overflow: hidden;
}

.logo{
    display: flex;  
    justify-content: space-between;
    padding: 4px;
}

.logo img{
    width: 100px;
}

.section-top{
    display: flex;
    justify-content: center;
    height: calc(16vh - constant(safe-area-inset-top));
    height: calc(16vh - env(safe-area-inset-top));
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
    overflow: hidden;
}

.produtos{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 24px 68px;
    background-color: #B1E0FF;
    font-size: 24px;
    border-radius: 12px;
}

.touch-img{
    position: absolute;
    right: 60px;
    width: 66px;
}

.section-bottom{
    height: calc(64vh - constant(safe-area-inset-top));
    height: calc(64vh - env(safe-area-inset-top));
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.frase-balao{
    position: absolute;
    text-align: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    left: 64px;
    top: 20px;
    user-select: none;
}

.img-balao{
    width: 360px;
    height: 180px;
}


.img-caneta-azul{
    position: absolute;
    width: 360px;
    bottom: 0;
    left: 0;
}