*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/img/desing/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    display: flex;  
    justify-content: space-between;
    padding: 4px;
}

.logo img{
    width: 80px;
}
