*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;  
    justify-content: space-between;
    padding: 4px;
}

.logo img{
    width: 80px;
}

.main-img{
    background-image: url("assets/img/desing/background.webp");
}