*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --laranja-principal: #FF6600;
    --azul-principal: #B1E0FF;
    --tamanho-fonte: 16px;
}

body{
    background-image: url("../assets/img/design/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

header{
    height: 100px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar{
    width: 50%;
    display: flex;
    justify-content: center;
}

.voltar a{
    font-size: 24px;
    text-decoration: none;
    height: 60px;
    width: 100px;
    background-color: var(--azul-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid #1da5ff;
    border-radius: 12px;
}

.page-title{
    color: var(--laranja-principal);
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 12px;
}

.categorias, .temas{
    text-align: center;
}

.categorias li, .temas li{

    background-color: var(--azul-principal);
    text-decoration: none;
    margin: 0 auto;
    width: 90vw;
    list-style: none;
    border-radius: 16px;
    margin-bottom: 12px;
    border: 2px solid #1da5ff;
}

.categoria, .tema{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block; 
    padding: 16px;
    font-weight: bolder;
}

.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img {
    border: 4px solid #1da5ff;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}

img{
    margin: 0 auto;
    width: 95vw;
}

.button-carrinho{
    border-radius: 18px;
    border: 3px solid #FF6600;
    outline: none;
    margin: 4px;
    padding: 12px;
    height: 60px;
    width: 50vw;
    background-color: #B1E0FF;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.header{
    display: flex;  
    justify-content: space-between;
    padding: 4px;
}

.header img{
    width: 100px;
}

.box-carrinho{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.carrinho{
    position: relative;
    padding: 16px;
}

.carrinho img{
    max-width: 60px;
}

.quant-itens-carrinho{
    position: absolute;
    top: 50px;
    right: 6%;
    color: white;

}

.quant-itens-carrinho p{
    font-size: 16px;
    padding-top: 6px;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 0, 0, 0.725);
    text-align: center;
    vertical-align: auto;
    border-radius: 50%;
}

.container-quant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* Ajuste a altura conforme necessário */
  }
  
  .p-quantidade {
    height: 60px;
    align-self: center;
    line-height: 50px;
    font-size: 20px;
  }
  
  .btn-mais, .btn-menos, .quantidade {
    width: 60px;
    height: 60px;
    text-align: center;
    align-self: center;
    font-size: 30px;
  }

  .btn-mais, .btn-menos{
    border-radius: 50%;
    font-weight: bolder;
    padding-bottom: 6px;
    background-color: var(--laranja-principal);
    color: white;
  }

  .quantidade {
    height: 60px;
    align-self: center;
    line-height: 50px;
    font-size: 30px;
  }

  .adicionar-ao-carrinho{
    margin: 12px;
    padding: 16px;
    border-radius: 16px;
    width: 300px;
    background-color: var(--azul-principal);
    border: 2px solid #1da5ff;
    font-size: 20px;
    color: black;
  }

  .numero-da-arte{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6600d7;
    color: white;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
  }

  .container-carrinho{
    align-items: flex-start;
    width: 90vw;
    margin: 0 auto;
    list-style: none;
  }

  .box-item-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 3px solid #1da5ff;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 420;
  }

  .box-item-carrinho ul{
    list-style: none;
  }

  .apagar-item{
    height: 50px;
    width: 50px;
    background-image: url(../assets/img/design/svg/lixeira.svg);
    background-size: contain;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;
  }

  .finalizar-compra{
    background-color: var(--laranja-principal);
    color: white;
    font-size: 1.5em;
    width: 80vw;
    height: 60px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 8px;
  }

  .btn-limpar-carrinho{
    background-color: red;
    color: white;
    font-size: 1.1em;
    width: 50vw;
    height: 30px;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .botoes-finais{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }