*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --laranja-principal: #FF6600;
    --azul-principal: #B1E0FF;
    --tamanho-fonte: 16px;
}

body{
    background-image: url("../assets/img/design/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    height: 20vh;
}

.logo{
    display: flex;  
    justify-content: space-between;
    padding: 4px;
}

.logo img{
    width: 100px;
}

.section-top{
    display: flex;
    justify-content: center;
    height: 16vh;
}

.produtos{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 24px 68px;
    background-color: #B1E0FF;
    font-size: 24px;
    border-radius: 12px;
}

.touch-img{
    position: absolute;
    right: 60px;
    width: 66px;
}

.section-bottom{
    height: 64vh;
    position: relative;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.frase-balao{
    position: absolute;
    text-align: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    left: 60px;
    top: 20px;
    user-select: none;
}

.img-balao{
    width: 360px;
    height: 180px;
}


.img-caneta-azul{
    position: absolute;
    width: 360px;
    bottom: 0;
    left: 0;
}

.box-balao{
    position: relative;
}

/*========================================================*/

.page-title{
    color: var(--laranja-principal);
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 12px;
}

.categorias, .temas{
    text-align: center;
}

.categorias li, .temas li{

    background-color: var(--azul-principal);
    text-decoration: none;
    margin: 0 auto;
    width: 90vw;
    list-style: none;
    border-radius: 16px;
    margin-bottom: 12px;
    border: 2px solid #1da5ff;
}

.categoria, .tema{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block; 
    padding: 16px;
    font-weight: bolder;
}

.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-img {
    border: 4px solid #1da5ff;
    margin-bottom: 8px;
}

img{
    margin: 0 auto;
    width: 95vw;
}

.button-carrinho{
    width: 50px;
    height: 50px;
    background-color: #B1E0FF;
}